<!DOCTYPE html>
<html lang="en" ng-app="superhero">

<head>
  <meta charset="UTF-8">
  <title>Superhero Phone Book</title>
  <link rel="stylesheet" href="style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>

<body ng-controller="SuperHeroesController as vm">
  <h2>Search</h2>
  <input type="text" ng-model="vm.searchSuperhero">

  <div ng-class="superhero.comic.toLowerCase()" ng-repeat="superhero in vm.superhero | filter: vm.searchSuperhero">
    <p>{{ superhero.name }}</p><button ng-click="showHero = !showHero">View</button>
    <p>{{ superhero.comic }}</p>
    <img src="{{ superhero.img_url }}" alt="{{ superhero.name }} photo" ng-show="showHero">
    <p>{{ superhero.number }}</p>
  </div>

  <script src="app.js"></script>
</body>

</html>
